.card {
  border: 2px solid #333;
  height: 300px;
  width: 250px;
  margin: 10px;
  padding: 0px 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 250px;
  height: 200px;
  border-radius: 6px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: left;
}
